body {
    background-image: radial-gradient(#3F7951, #024E1A);
    min-height: 100vh;
    font-family: cursive, sans-serif;
    color: #ECE3C2;
}

.links {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #E5DCB1;
    letter-spacing: 1px;
}

a[class="top"] {
    padding-inline: 10px;
}

a[class="top"]:hover {
    text-decoration: underline;
}

h1 {
    color: #CFAC5B;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 7px;
}

h3 {
    color: #D9BD7C;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
}

h4 {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
}

a[class="content"]:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 0 7px #E5DCB1;
}

.foreground {
    position: fixed;
    box-shadow: none;
    pointer-events: none;
    animation-name: fall;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        top: -1325px;
    }

    100% {
        top: 0px
    }
}