body {
    background-color: #202124;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.minititle {
    display: inline;
    font-size: 20px;
    color: white;
    padding-left: 25px;
    text-decoration: none;
}

.content {
    padding-left: 50px;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    color: #ff563f;
}

h2 {
    display: inline-block;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #dfdfdf;
}

h3 {
    display: inline-block;
    padding-block: 10px;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    color: #f6f6f6;
}

hr {
    position: absolute;
    left: 0px;
    width: 99.9%;
    color: #434343;
    border: 1px solid;
}

table {
    margin: auto;
    width: 1250px;
    border: 1px solid;
    color: white;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    vertical-align: top;
    font-size: 11px;
    color: white;
    border: 1px solid;
}

th {
    font-size: 20px;
}

td {
    font-size: 15px;
    padding-left: 5px;
}

input[type="text"] {
    background-color: #3b3b3b;
    color: white;
    border-style: solid;
    border-color: #858585;
    border-width: 1px;
    width: 1500px;
    padding-inline: 15px;
    padding-block: 10px;
}

input[type="text"]:focus {
    border-style: solid;
    border-color: #2678e3;
    border-width: 2px;
    outline: none;
}

input[type="submit"] {
    display: block;
    background-color: #4888ef;
    color: white;
    padding-inline: 15px;
    padding-block: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: #4888ef;
    border-width: 2px;
    text-align: center;
}

input[type="submit"]:hover {
    border-color: #8ca9ff;
    background: linear-gradient(to top, #377be8, #4d90fe);
}